<h1>About Page</h1>
<div>
<p>This is a website about star-war.
  It shows the information about films and
  characters. The data of this website is
  from an <a href="https://swapi.dev/">open api</a><p>
</div>
<div>
<img src="/assets/star_war_ERD.PNG" alt="Edit Entry" />
</div>
<%= link_to 'Back', root_path %>